/*
CSS 
web o pagina: Proyecto Integrador
autor: Chris García
fecha: Marzo 2021

*/

body {
  background-color: rgba(0, 0, 128, 0.1); /* Azul al 10% */
  margin:0px;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: rgb(17, 202, 140);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.marco {
  display: grid;
  border-style: solid;
  border-color: rgb(27, 37, 179);
  grid-template-columns: 250px auto;
  grid-template-rows: 150px 40px auto 40px;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:active {
  color:yellow;
  font-size:1.1em;
  
}

@media screen and (max-width:600px){
  /* reparamos el estilo para pantallas estrechas */
  
  .navbar, .navbar a, .navbar>div, .dropbtn {
    width:100%;
    float: none;
    display:block;
  }
    .dropdown-content a{
    display:none;
  }
        
  
}





